{% load i18n sizeformat getvalue %}

{% block main %}

  <div class="info row-fluid detail">
    <h3>{% trans "Strategy" %}</h3>
    <hr class="header_rule">
    <div id="cloud-strategy-detail">

      {% if strategy %}
        <dl class="dl-horizontal-wide">
          <dt>{% trans "Strategy Type" %}</dt>
          <dd>{{ strategy.strategy_type }}</dd>
          <dt>{% trans "Subcloud Apply Type" %}</dt>
          <dd>{{ strategy.subcloud_apply_type }}</dd>
          <dt>{% trans "Max Parallel Subclouds" %}</dt>
          <dd>{{ strategy.max_parallel_subclouds }}</dd>
          <dt>{% trans "Stop On Failure" %}</dt>
          <dd>{{ strategy.stop_on_failure }}</dd>
          {% if strategy.extra_args %}
            {% if strategy.strategy_type == 'sw-deploy' %}
              <dt>{% trans "Release" %}</dt>
              <dd>{{ strategy.extra_args|get_value:"release_id" }}</dd>
            {% elif strategy.strategy_type == 'kube-rootca-update' %}
              <dt>{% trans "Subject" %}</dt>
              <dd>{{ strategy.extra_args | get_value:"subject" }}</dd>
              <dt>{% trans "Expiry Date" %}</dt>
              <dd>{{ strategy.extra_args | get_value:"expiry-date" }}</dd>
              <dt>{% trans "Cert File" %}</dt>
              <dd>{{ strategy.extra_args | get_value:"cert-file" }}</dd>
            {% elif strategy.strategy_type == 'prestage' %}
              <dt>{% trans "For Software Deploy" %}</dt>
              <dd>{{ strategy.extra_args|get_value:"for_sw_deploy" }}</dd>
              <dt>{% trans "Prestage Software Version" %}</dt>
              <dd>{{ strategy.extra_args|get_value:"prestage-software-version" }}</dd>
            {% endif %}
          {% endif %}
          <dt>{% trans "State" %}</dt>
          <dd>{{ strategy.state }}</dd>
        </dl>
      {% else %}
        {% trans "No Strategy has been created" %}
      {% endif %}
    </div>
  </div>
  <br/>
  {{ cloudpatchsteps_table.render }}

{% endblock %}
