{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_action %}{% url 'horizon:dc_admin:dc_software_management:createsubcloudgroup' %}{% endblock %}

{% block modal-header %}{% trans "Create New Subcloud Group" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description:" %}</h3>
    <p>
        {% trans "You can create a subcloud group which can later be associated to 2-100 subclouds." %}
    </p>

</div>
{% endblock %}

{% block modal-footer %}
  <a class="btn btn-default cancel" data-dismiss="modal">Cancel</a>
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create Subcloud Group" %}" />
{% endblock %}
