#!/usr/bin/make -f
export DH_VERBOSE = 1

export PBR_VERSION=1.0
export PYBUILD_NAME=starlingx-dashboard
export ROOT=debian/tmp
export DATA_DIR=$(ROOT)/usr/lib/python3/dist-packages
export OS_DIR=$(DATA_DIR)/openstack_dashboard

export ENABLED_DIR=$(OS_DIR)/enabled
export STX_THEMES_DIR=$(ROOT)/usr/share/openstack-dashboard/themes/starlingx
export LOCAL_SETTINGS_DIR=$(ROOT)/etc/openstack-dashboard/local_settings.d
export STX_TEMPLATES_DIR=$(OS_DIR)/starlingx_templates
export OVERRIDES_DIR=$(OS_DIR)/overrides

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	python3 setup.py install --install-layout=deb --root $(ROOT)

	python3 setup.py bdist_wheel \
		--universal \
		-d $(CURDIR)/debian/starlingx-dashboard-wheels/usr/share/python3-wheels

	install -d -m 755 $(ENABLED_DIR)
	install -p -D -m 755 starlingx_dashboard/enabled/* $(ENABLED_DIR)

	install -d -m 755 $(STX_THEMES_DIR)
	cp -R starlingx_dashboard/themes/starlingx/* $(STX_THEMES_DIR)
	chmod -R 755 $(STX_THEMES_DIR)/*

	install -d -m 755 $(LOCAL_SETTINGS_DIR)
	install -p -D -m 755 starlingx_dashboard/local/local_settings.d/* $(LOCAL_SETTINGS_DIR)

	install -d -m 755 $(STX_TEMPLATES_DIR)
	cp -R starlingx_dashboard/starlingx_templates/* $(STX_TEMPLATES_DIR)
	chmod -R 755 $(STX_TEMPLATES_DIR)/*

	install -d -m 755 $(OVERRIDES_DIR)
	install -p -D -m 755 starlingx_dashboard/overrides/* $(OVERRIDES_DIR)

	dh_install

override_dh_auto_test:
	echo "do nothing"